.map-container {
  height: calc(100vh - 60px);
  width: 100vw;
}

.info-box {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 1;
}

